name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build da imagem Docker
        run: |
          docker build -t flask-api .

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11.x

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build da imagem Docker
        run: |
          docker build -t flask-api .

      - name: Rodar testes no contêiner Docker
        run: |
          docker run --rm flask-api python -m unittest discover -s . -p "test_app.py"

deploy:
  name: Fazendo Deploy no Render (Api)
  needs: build
  runs-on: ubuntu-latest

  steps:
    - name: Deploy usando action do Render
      uses: johnbeynon/render-deploy-action@v0.0.3
      with:
        serviceId: srv-d4dp9j0dl3ps73e9qjk0
        apiKey: ${{ secrets.DESAFIO_FINAL_JULIA }}
        clearCache: false

    - name: Acionar Deploy Hook no Render
      run: |
        curl -X POST "${{ secrets.HOOK_JULIA }}"
        echo "Sinal de deploy enviado ao Render."
